@use 'vars';

.main {
    max-width: 100%;

    &__header {
        cursor: default;        

        & a {
            display: flex;
            align-items: center;
            color: vars.$color-text-secondary;
            line-height: 150%;
            font-weight: 500;
            cursor: pointer;
            transition: .25s;

            & i {
                margin-right: 8px;
                font-size: 24px;
            }

            &:hover {
                color: vars.$color-stroke-highlight;
            }
        }

        & h2 {
            margin: 24px 0 8px;
            color: vars.$color-text-primary;
            line-height: 125%;
            font-weight: 700;
            font-size: 24px
        }

        & p {
            color: vars.$color-text-secondary;
            line-height: 150%;
        }
    }

    &__form {
        cursor: default;

        &__field {
        display: flex;
        flex-direction: column;
        margin: 24px 0;

            &-required {
                color: vars.$color-stroke-highlight;
                font-weight: 600;
            }

            & .birth-document {
                color: vars.$color-text-secondary;
                font-size: 14px;
                width: 100%;
                height: 160px;
                border: 1px dashed vars.$color-stroke-default;
                border-radius: 8px;
                margin: 4px 0 0 0;
                transition: .25s;
                cursor: pointer;


                &:hover, &:focus {
                    border-color: vars.$color-stroke-highlight;
                }

                & input#birth-document {
                    display: none;   
                }

                &:hover .birth-document__upload {
                        color: vars.$color-stroke-highlight;
                    }

                &__upload {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    color: vars.$color-stroke-default;
                    transition: .5s;
                    overflow: hidden;

                    & img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: cover;
                        width: 90%;
                    }

                    & i {
                        font-size: 48px;
                    }

                    & p {
                        max-width: 20vw;
                        text-align: center;

                        @media (max-width: 768px) {
                            max-width: 50vw;
                        }
                    }
                }
            }

            #gender {
                background-color: transparent;

                &:focus {
                    background-color: transparent;
                }
            }

            label {
                color: vars.$color-text-secondary;
                font-size: 14px;
            }

            input, textarea, select {
                margin: 4px 0;
                border: 1px solid vars.$color-stroke-default;
                border-radius: 8px;
                width: 100%;
                height: 48px;
                color: vars.$color-text-primary;
                font-weight: 500;
                padding: 12px 16px;
                line-height: 150%;
                cursor: pointer;
                transition: .25s;

                &::placeholder {
                    font-weight: 300;
                }

                &:hover {
                    border-color: vars.$color-stroke-highlight;
                }

                &:focus {
                    border-color: vars.$color-stroke-highlight;
                    box-shadow: 0 0 0 4px vars.$color-surface-secondary;
                }
            }

            &__shield-info {
                font-size: 14px;
                color: vars.$color-info-field;
                line-height: 140%;

                @media (max-width: 1023px) {
                    font-size: 11px;
                }
            }

            &__error-field {
                display: none;
                align-items: center;
                font-size: 14px;
                color: vars.$color-semantic-error;
                height: 30px;

                & .hgi {
                    margin-right: 4px;
                    font-size: 20px;
                }
            }
        }

        &__infos-address {
        
            &__full-address {
                display: grid;
                grid-template-columns: auto 176px;
                column-gap: 20px;

                @media (max-width: 1023px) {
                    grid-template-columns: 1fr;
                }

                & .main__form__field {
                    margin: 8px 0;

                    @media (max-width: 1023px) {
                        &:first-child {
                            margin: 0 0 8px;
                        }
                    }
                }
            }
        }
    }
}