$Font-heading1: 32px;
$Font-heading2: 24px;
$Font-heading3: 20px;
$Font-heading4: 16px;


$color-brand-light: #F67841;
$color-brand-mid: #F3541C;
$color-brand-dark: #E43A12;

$color-text-primary: #292524;
$color-text-secondary: #57534E;
$color-text-tertiary: #8F8881;
$color-text-highlight: $color-brand-dark;

$color-surface-primary: #FFFFFF;
$color-surface-secondary: #FEE7D6;
$color-surface-disabled: #E7E5E4;

$color-stroke-default: #D6D3D1;
$color-stroke-highlight: $color-brand-mid;

$color-semantic-error: #DC2626;

$color-info-field: #78716C;

$color-orange: #F9A474;
$color-yellow: #FEDF6F;
$color-green: #C7D78D;
$color-blue: #B8CEDC;
$color-violet: #C3B2E7;
$color-pink: #F682A5 ;